* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
    font-family: "Open Sans", monospace;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}


h2 {
    text-align: center;
}

p {
    text-align: center;
    width: 85%;
    padding-bottom: 5%;
}

.Logo {
    width: 20%;
    align-self: center;
}

.Mission-Statement {
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.About {
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.Photos {
    margin: 0 auto;
    width: 90%;
    height: 25vh;
    padding: 0% 2%;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.Photos img {
    margin: 0;
    max-height: 100%;
    width: auto;
    display: inline-block;
}